
select{
    -webkit-appearance: none;  
    /*清除select默认样式*/
    background: url("../img/arrow2.png")no-repeat right;
    /*注：上一步清除样式后，select中的三角符号也会被清除，所以需要自己添加下三角，我在此出用一个下三角背景图片填充*/
    background-size: 2.0rem;
    background-position-x: 96%;
}

